@model MvcModel.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
       This is the customer id=@Model.Id<br />
        this is the customer code=@Model.CustCode<br />
        this is the customer amount=@Model.Amount 
    </div>
</body>
</html>
